---
layout: default
title: El Arte del Cracking
---
<h1> Últimos Posts</h1>
<ul>
{% for post in paginator.posts %}
    <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.date | date_to_string }} - {{ post.author }}<p>
        {{ post.excerpt }}
        <a href="{{ post.url }}"><button>Continuar Leyendo</button></a>
    </li>
{% endfor %}
</ul>
<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>